@import "tailwindcss";

@theme inline {
  --animate-meteor: meteor 5s linear infinite;

  @keyframes meteor {
    0% {
      transform: rotate(var(--angle)) translateX(0);
      opacity: 1;
    }

    70% {
      opacity: 1;
    }

    100% {
      transform: rotate(var(--angle)) translateX(-500px);
      opacity: 0;
    }
  }
}

.news-section::-webkit-scrollbar {
  width: 4px;
  height: 5px;
}

.news-section::-webkit-scrollbar-track {
  background: #e5e7eb; /* Tailwind gray-200 */
}

.news-section::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #005B96; /* Your theme blue */
}

.news-section::-webkit-scrollbar-thumb:hover {
  background: #004476; /* Darker blue on hover */
}
